
//
// VARIABLES
a:link: https://alchetron.com/Mesut-Ozil-307866-W

// Colors
$blue: #e699ff;

// Grays
$black: #000;
$darkerGray: #ff0000;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #0066ff;

// Font stacks
p {
    font-family: Times New Roman, Times,serif, blue;
}
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
